#!/usr/bin/make -f
export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=-relro,-stackprotector
export DEB_LDFLAGS_MAINT_SET =

%:
	dh $@

override_dh_auto_build:
	# also fine when non-cross
	for plat in rk3328 rk3399 sun50i_a64 sun50i_h6 ; \
		do CROSS_COMPILE=aarch64-linux-gnu- make --debug=v DEBUG=1 PLAT=$$plat bl31 ; \
		chmod a-x build/$$plat/debug/bl31.* ; \
	done
